<div class="container mt-5">
  <div class="row">
    <div class="col-12">
     <h1 class="text-center mt-1">To Do List</h1>
      <div class="row mt-4 mb-3">
        <div class="col-11">
          <input class="form-control" type="text" placeholder="Enter a new task." id="content">
        </div>
        <div class="col-1">
          <button class="btn btn-success" id="add">Add</button>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="row" id="tasks"></div>
    </div>
  </div>
</div>